<!DOCTYPE html>
<html>
<head>
<title>GameScore</title>
</head>
<body>
<h1>GameScore - inspired by Wordle</h1>
<h2>Created by the Scrumpateers - Emily, Connor, and Gabe.</h2>
<p>This game will ...</p>

</body>
</html>