<!DOCTYPE html>
<html>

<head>
    <title>GameScore</title>
    <style>
        button {
            background-color: #41bcca;
            border: none;
            border-radius: 20%;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        button:hover {
            background-color: #3d6677
        }

        button:active {
            background-color: #74a6ad;
        }
        #answer {
            background-color: #83ced7;
            color: white;
            padding: 15px 10px;
            text-align: center;
            text-decoration: none;
            font-size: 30px;
        }
        body {
            text-align: center;
            width: 50%;
            margin: auto;
        }
        .guessesFormat {
            border: none;
            border-radius: 20%;
            color: white;
            text-align: center;
            text-decoration: none;
            padding: 15px;
            font-size: 30px;
        }
        div {
            text-align: center;
            margin: auto;
            padding: 5px;
        }
        .instructions {
            background-color: white;
            border: 2px solid black;
            color: green;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 10px 30px;
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
        } 
        .logout {
            background-color: white;
            border: 2px solid black;
            color: green;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 10px 30px;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
        }
    </style>
    <script>
        async function reloadServer() {
            await fetch("/reload");
        }
        guess = "_ _ _ _ _";
        theAnswer = "HELLO";
        guesses = 0;

        //This function replaces the "_" closest to the left with the guessed letter and displays the result.
        function getLetter(letter) {
            if (guess.indexOf("_") != true) {
                guess = guess.replace("_", letter)
            }
            document.getElementById("answer").innerHTML = guess;
        }

        //This function checks for the letter furthest to the right and replaces it with a "_".
        function backspace() {
            for (var i = guess.length; i >= 0; i--) {
                if (guess.charAt(i).match(/[A-Z]/i) != null) {
                    guess = guess.substring(0, i) + "_" + guess.substring(i + 1)
                    break;
                }
            }
            document.getElementById("answer").innerHTML = guess;
        }

        //Makes sure the guess is five letters and processes the guess.
        function submit() {
            if(guess.includes("_")){
                return
            }
            guesses++;
            //document.getElementById("guess" + guesses).innerHTML = guesses + ": " + guess;
            if (guess.replace(/\s/g, '') === theAnswer) {
                document.getElementById("result").innerHTML = "Correct!";
            } else if (guesses == 6) {
                document.getElementById("result").innerHTML = "Incorrect! The word was " + theAnswer;
            }

            if (theAnswer.indexOf(guess.charAt(0)) < 0) {
                document.getElementById(guess.charAt(0)).style.background = '#2e2e2d';
                changeLetterColor(guesses, guess.charAt(0), 1, '#2e2e2d');
            }else if(guess.charAt(0) === theAnswer.charAt(0)){
                document.getElementById(guess.charAt(0)).style.background = '#3A8065';
                changeLetterColor(guesses, guess.charAt(0), 1, '#3A8065');
            }else{
                document.getElementById(guess.charAt(0)).style.background = '#e3c020';
                changeLetterColor(guesses, guess.charAt(0), 1, '#e3c020');
            }

            if (theAnswer.indexOf(guess.charAt(2)) < 0) {
                document.getElementById(guess.charAt(2)).style.background = '#2e2e2d';
                changeLetterColor(guesses, guess.charAt(2), 2, '#2e2e2d');
            }else if(guess.charAt(2) === theAnswer.charAt(1)){
                document.getElementById(guess.charAt(2)).style.background = '#3A8065';
                changeLetterColor(guesses, guess.charAt(2), 2, '#3A8065');
            }else{
                document.getElementById(guess.charAt(2)).style.background = '#e3c020';
                changeLetterColor(guesses, guess.charAt(2), 2, '#e3c020');
            }

            if (theAnswer.indexOf(guess.charAt(4)) < 0) {
                document.getElementById(guess.charAt(4)).style.background = '#2e2e2d';
                changeLetterColor(guesses, guess.charAt(4), 3, '#2e2e2d');
            }else if(guess.charAt(4) === theAnswer.charAt(2)){
                document.getElementById(guess.charAt(4)).style.background = '#3A8065';
                changeLetterColor(guesses, guess.charAt(4), 3, '#3A8065');
            }else{
                document.getElementById(guess.charAt(4)).style.background = '#e3c020';
                changeLetterColor(guesses, guess.charAt(4), 3, '#e3c020');
            }

            if (theAnswer.indexOf(guess.charAt(6)) < 0) {
                document.getElementById(guess.charAt(6)).style.background = '#2e2e2d';
                changeLetterColor(guesses, guess.charAt(6), 4, '#2e2e2d');
            }else if(guess.charAt(6) === theAnswer.charAt(3)){
                document.getElementById(guess.charAt(6)).style.background = '#3A8065';
                changeLetterColor(guesses, guess.charAt(6), 4, '#3A8065');
            }else{
                document.getElementById(guess.charAt(6)).style.background = '#e3c020';
                changeLetterColor(guesses, guess.charAt(6), 4, '#e3c020');
            }

            if (theAnswer.indexOf(guess.charAt(8)) < 0) {
                document.getElementById(guess.charAt(8)).style.background = '#2e2e2d';
                changeLetterColor(guesses, guess.charAt(8), 5, '#2e2e2d');
            }else if(guess.charAt(8) === theAnswer.charAt(4)){
                document.getElementById(guess.charAt(8)).style.background = '#3A8065';
                changeLetterColor(guesses, guess.charAt(8), 5, '#3A8065');
            }else{
                document.getElementById(guess.charAt(8)).style.background = '#e3c020';
                changeLetterColor(guesses, guess.charAt(8), 5, '#e3c020');
            }


            guess = "_ _ _ _ _"
            document.getElementById("answer").innerHTML = guess;
        }

        function changeLetterColor(guesses, letter, pos, color){
            document.getElementById("g" + guesses + pos).innerHTML = letter;
            document.getElementById("g" + guesses + pos).style.background = color;
        }
    </script>
</head>

<body onload="reloadServer()">
    <h1>GameScore - inspired by Wordle</h1>
    <h3>Created by the Scrumpateers - Emily, Connor, and Gabe.</h3>
    <!---
    <h3>Random word from database: </h3>
    <h3 id="randomword"><%= randomword %></h3>
    -->
    <a href="help">
        <button class = "instructions">
            Instructions
        </button>
    </a>
    <h3><%= username %> Score: <%= score %></h3>
    <form action="/logout?_method=DELETE" method="POST">
        <button class="logout" type="submit">Log Out</button>
    </form>
    <div id="guesses">
        <h2 id="result"> </h2>
        <h2 id="g11" class="guessesFormat" style="display: inline"></h2> <h2 id="g12" class="guessesFormat" style="display: inline"></h2> <h2 id="g13" class="guessesFormat" style="display: inline"></h2> <h2 id="g14" class="guessesFormat" style="display: inline"></h2> <h2 id="g15" class="guessesFormat" style="display: inline"></h2><br><br><br>
        <h2 id="g21" class="guessesFormat" style="display: inline"></h2> <h2 id="g22" class="guessesFormat" style="display: inline"></h2> <h2 id="g23" class="guessesFormat" style="display: inline"></h2> <h2 id="g24" class="guessesFormat" style="display: inline"></h2> <h2 id="g25" class="guessesFormat" style="display: inline"></h2><br><br><br>
        <h2 id="g31" class="guessesFormat" style="display: inline"></h2> <h2 id="g32" class="guessesFormat" style="display: inline"></h2> <h2 id="g33" class="guessesFormat" style="display: inline"></h2> <h2 id="g34" class="guessesFormat" style="display: inline"></h2> <h2 id="g35" class="guessesFormat" style="display: inline"></h2><br><br><br>
        <h2 id="g41" class="guessesFormat" style="display: inline"></h2> <h2 id="g42" class="guessesFormat" style="display: inline"></h2> <h2 id="g43" class="guessesFormat" style="display: inline"></h2> <h2 id="g44" class="guessesFormat" style="display: inline"></h2> <h2 id="g45" class="guessesFormat" style="display: inline"></h2><br><br><br>
        <h2 id="g51" class="guessesFormat" style="display: inline"></h2> <h2 id="g52" class="guessesFormat" style="display: inline"></h2> <h2 id="g53" class="guessesFormat" style="display: inline"></h2> <h2 id="g54" class="guessesFormat" style="display: inline"></h2> <h2 id="g55" class="guessesFormat" style="display: inline"></h2><br><br><br>
        <h2 id="g61" class="guessesFormat" style="display: inline"></h2> <h2 id="g62" class="guessesFormat" style="display: inline"></h2> <h2 id="g63" class="guessesFormat" style="display: inline"></h2> <h2 id="g64" class="guessesFormat" style="display: inline"></h2> <h2 id="g65" class="guessesFormat" style="display: inline"></h2><br><br><br>
    </div>
    <h2 id="answer">_ _ _ _ _</h2>
    <div>
        <button type="button" id="Q" onclick="getLetter('Q')">Q</button>
        <button type="button" id="W" onclick="getLetter('W')">W</button>
        <button type="button" id="E" onclick="getLetter('E')">E</button>
        <button type="button" id="R" onclick="getLetter('R')">R</button>
        <button type="button" id="T" onclick="getLetter('T')">T</button>
        <button type="button" id="Y" onclick="getLetter('Y')">Y</button>
        <button type="button" id="U" onclick="getLetter('U')">U</button>
        <button type="button" id="I" onclick="getLetter('I')">I</button>
        <button type="button" id="O" onclick="getLetter('O')">O</button>
        <button type="button" id="P" onclick="getLetter('P')">P</button>
    </div>
    <div>
        <button type="button" id="A" onclick="getLetter('A')">A</button>
        <button type="button" id="S" onclick="getLetter('S')">S</button>
        <button type="button" id="D" onclick="getLetter('D')">D</button>
        <button type="button" id="F" onclick="getLetter('F')">F</button>
        <button type="button" id="G" onclick="getLetter('G')">G</button>
        <button type="button" id="H" onclick="getLetter('H')">H</button>
        <button type="button" id="J" onclick="getLetter('J')">J</button>
        <button type="button" id="K" onclick="getLetter('K')">K</button>
        <button type="button" id="L" onclick="getLetter('L')">L</button>
    </div>
    <div>
        <button type="button" id="Z" onclick="getLetter('Z')">Z</button>
        <button type="button" id="X" onclick="getLetter('X')">X</button>
        <button type="button" id="C" onclick="getLetter('C')">C</button>
        <button type="button" id="V" onclick="getLetter('V')">V</button>
        <button type="button" id="B" onclick="getLetter('B')">B</button>
        <button type="button" id="N" onclick="getLetter('N')">N</button>
        <button type="button" id="M" onclick="getLetter('M')">M</button>
    </div>
    <div>
        <button type="button" id="backspace" onclick="backspace()">Backspace</button>
        <button type="button" id="submit" onclick="submit()">Submit</button>
    </div>
</body>

</html>