<!DOCTYPE html>
<html lang="en">
<head>
	<title> Final Project Proposal </title>
	<link rel="stylesheet" type="text/css" href="index.css" media="screen">
</head>
<body>
	<h2 id="cnt"> Final Project Proposal </h2>
	<h2 id="cnt"> GameScore - by the Scrumpateers </h2>
	<hr style="background-color: black; border-color: black; height: 5px">
	<h3>Product Name: GameScore (inspired by Wordle)</h3>
	<h3>Team Members: Connor, Emily, Gabe.</h3>
	<h3>Application Overview: It will have the Wordle game with instructions on how to play and contact information. When the user loses, it will display the list of high scores and will prompt the user to input their name to add to the high score list if applicable.</h3>
	<h3>Technology Overview: HTML, CSS, JavaScript, NodeJS, Express, Azure, GitHub, and a database we haven’t decided on yet.</h3>
	<h3>Proposal Last Updated: 3/27/22 </h3>
	<h3>Feature List: Wordle game, mutable high score list, instructions, and contact information.</h3>
	<h3>Future Feature List: An account creation system to store user statistics such as the amount of games won and lost.</h3>
	<h3>Basic Technical Features: It will be an Express server hosted on Azure utilizing Node.js.</h3>
	<h3>Advanced Technical Features: It will feature a database. None of us have used one before. </h3>
</body>
</html>
